body {
margin: 0;
}
header {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  font-size: 12px;
}
article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
}

h1 {
  color:  rgb(189, 105, 105);

}
h2 {
  color: rgb(0, 0, 0);
  text-align: center;
}
h4 {
  color: rgb(0, 0, 0);
}
li {
  float:left;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white
}
ul.topnav{
  float:left;
}
ul.topnav li a {
  display: block;
  color:  rgb(189, 105, 105);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.topnav li.right {
  float: right;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  border: 1px solid #ddd;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: rgb(0, 0, 0);
}
table tr:hover {background-color: rgb(124, 84, 84);}
table tr {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  border: 1px solid #ddd;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: rgb(0, 0, 0);
}
table td{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  border: 1px solid #ddd;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: rgb(0, 0, 0);
}
table th {
 font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  border: 1px solid #ddd;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
  background-color: #ca4230;
  color: rgb(0, 0, 0);
}
p {
  font-family: verdana;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}